{% extends "base.html"%}
{% block title %} Index {% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}

<div class="container">


    <!-- gets the flashed message to create a dismissible alert-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4><i class="fa fa-user-o" aria-hidden="true"></i> {{ userdata["email"]}}</h4>

    </div>
    <div class="panel-body">
      <img src=" {{ userdata['picture'] }} " class="img-rounded" alt="Cinque Terre" width="40" height="40">
      You are currently logged in. This app provides features for making a list of your
      favorite destinations in any country.
    </div>
  </div>


  <h3>Start making your destination plans, now! </h3>

  <p>This web application will allow you to select your favorite destinations and save them so you can access later! </p>
  <ul style="list-style-type:square;">
    <li>Add/Remove a country</li>
    <li>Add/Remove destinations in the country</li>
    <li>Add/Update descriptions for destinations </li>
  </ul>



  <h3>Popular Destinations</h3>
  {% if destinations != [] %}

  {% for country in destinations %}
  <a class="btn btn-info"  role="button"> {{country.name }} </a>
  {% endfor %}
  {% else %}
  <h2> The database has no records </h2>
  {% endif %}


</div>

{% endblock %}
